@model PagedList.IPagedList<Ucp.Models.Data.Company>
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
     
@{
    ViewBag.Title = "Ucp App - Компании";
}

<h2 class="text-primary">Компании</h2>

<p class="add-btn">
    @Html.ActionLink("Создать", "Create", null, new { @class="btn btn-success" })
</p>

@using (Html.BeginForm())
{
    <p class="text-right">
        Поиск: @Html.TextBox("SearchString") &nbsp; 
        <input type="submit" value="Найти" class="btn btn-primary" />
    </p>
}

<table class="table">
    <tr>
        <th>Название компании</th>
        <th>Статус контракта</th>
        <th>Действия</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContractStatus.ContrStatusVal)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.CompanyId }, new { @class = "btn-sm btn-warning" })  
            @Html.ActionLink("Посмотреть", "Details", new { id=item.CompanyId }, new { @class = "btn-sm btn-info" })  
            @Html.ActionLink("Удалить", "Delete", new { id=item.CompanyId }, new { @class = "btn-sm btn-danger" })
        </td>
    </tr>
}

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))